version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: retail_postgres
    env_file:
      - .env  
    environment:
      POSTGRES_USER: ${DB_USER}      
      POSTGRES_PASSWORD: ${DB_PASSWORD} 
      POSTGRES_DB: ${DB_NAME}       
    ports:
      - "5439:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - retail_network

  metabase:
    image: metabase/metabase:latest
    container_name: retail_metabase
    ports:
      - "3000:3000"
    volumes:
      - metabase_data:/metabase-data
    networks:
      - retail_network
    depends_on:
      - postgres

volumes:
  pg_data:
  metabase_data:

networks:
  retail_network:
    driver: bridge