version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: retail_postgres
    environment:
      POSTGRES_USER: retail_user
      POSTGRES_PASSWORD: retail_password
      POSTGRES_DB: retail_dw
    ports:
      - "5432:5432"
    volumes:
      # Persist data so don't lose it restarting Docker
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: